.profileHeader {
    text-align: left;
    margin-bottom: 50px;
    padding-top: 50px;
}

.MuiAvatar-root {
    margin-left: 100px;
}



.MobileHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 25px;
}

#ProfileAvatar {
    margin-left: 75px;
}