.profileHeader {
    text-align: left;
    margin: 50px;

}

.MuiAvatar-root {
    margin-left: 75px;
}

.profileAvatar {
    width: 200px;
    height: 200px;
    font-size: 100;
}


/* .profileHeader>div {
    margin-left: 35px;
}

.zipcode {
    margin-right: 300px;
} */