.profileHeader {
    text-align: left;
    margin-bottom: 50px;
    padding-top: 50px;
}

.MuiAvatar-root {
    margin-left: 75px;
}

.profileAvatar {
    width: 200px;
    height: 200px;
    font-size: 100;
}