.detailcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.CardDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;

}

.SearchBar {
    text-align: center;
}

#outlined-basic {
    margin-trim: 25px;
}

form {
    margin-top: 30px;
}

#button {
    margin-left: 20px;
}

.SocialLinks {
    margin-bottom: 25px;
}